$color_bg_gray= #F8F8F8
$color_bg_half_transpant = #66455A

$color_divider_gray = #ECEFF1
$divider_gray_dark = #cfd8dc

$color_text_red_light =#FF8888
$color_text_black =#263238
$color_text_gray_light =#90A4AE
$color_text_gray_dark = #607D8B
$color_text_gray_darker =#455A64
$color_text_orange =#FFB857
$color_text_orange_light =#FFF1DD

$color_text_tips=#78A0BE

$margin_common=1.4rem
$padding_common=1.4rem
$height_title_bar=4.4rem

$fontsize_title=1.6rem //16sp
$fontsize_title_18=1.8rem //18sp
$fontsize_title_20=2.0rem //20

$fontsize_normal=1.4rem //14sp
$fontsize_normal_15=1.5 rem //15sp

$fontsize_small=1.2rem //12sp
$fontsize_small_9=.9 rem //9sp
$fontsize_small_11=1.1rem //11sp
$fontsize_small_13=1.3 rem //13sp

$space_6=.6em
$space_8=.8rem
$space_10=1.0rem
$space_12=1.2rem
$space_14=1.4rem
$space_16=1.6rem
$space_20=2.0rem




